<% for (var i = 0; i < data.length; i++) {%>
    <tr>
      <!-- <td><%= data[i]._id %></td> -->
      <td>Name: <%= data[i].username %></td><br>
      <td>Password: <%= data[i].password %></td><br>
      <td>Country: <%= data[i].country %></td><br>
      <td>Subject: <%= data[i].subject %></td><br><br>
      <!-- <td>EDITAR / REMOVER</td> -->
    </tr>
    <%}%>
